<h1>The Answer</h1>
<p>
  You guessed that the rule was:
</p>
<p>
  <%= @user_answer %>
</p>

<p>
The answer was extremely basic. The rule was simply: Each number must be larger than the one before it. 5, 10, 20 satisfies the rule, as does 1, 2, 3 and -17, 14.6, 845. Children in kindergarten can understand this rule.
</p>
<p>
  But most people start off with the incorrect assumption that if we’re asking them to solve a problem, it must be a somewhat tricky problem. They come up with a theory for what the answer is, like: Each number is double the previous number. And then they make a classic psychological mistake.
</p>
<p>
  They don’t want to hear the answer “no.” In fact, it may not occur to them to ask a question that may yield a no.
</p>
<p>
  Remarkably, 77 percent of people who have played this game so far have guessed the answer without first hearing a single no. A mere 9 percent heard at least three nos — even though there is no penalty or cost for being told no, save the small disappointment that every human being feels when hearing “no.”
</p>
<p>
  It’s a lot more pleasant to hear “yes.” That, in a nutshell, is why so many people struggle with this problem.
</p>
<h2>Confirmation Bias</h2>
<p>
  This disappointment is a version of what psychologists and economists call confirmation bias. Not only are people more likely to believe information that fits their pre-existing beliefs, but they’re also more likely to go looking for such information. This experiment is a version of one that the English psychologist Peter Cathcart Wason used in a seminal 1960 paper on confirmation bias. (He used the even simpler 2, 4 and 6, rather than our 2, 4 and 8.)
</p>
<p>
  Most of us can quickly come up with other forms of confirmation bias — and yet the examples we prefer tend to be, themselves, examples of confirmation bias. If you’re politically liberal, maybe you’re thinking of the way that many conservatives ignore strong evidence of global warming and its consequences and instead glom onto weaker contrary evidence. Liberals are less likely to recall the many incorrect predictions over the decades, often strident and often from the left, that population growth would create widespread food shortages. It hasn’t.
</p>
<p>
  This puzzle exposes a particular kind of confirmation bias that bedevils companies, governments and people every day: the internal yes-man (and yes-woman) tendency. We’re much more likely to think about positive situations than negative ones, about why something might go right than wrong and about questions to which the answer is yes, not no.
</p>
<p>
  Sometimes, the reluctance to think negatively has nothing to do with political views or with a conscious fear of being told no. Often, people never even think about asking questions that would produce a negative answer when trying to solve a problem — like this one. They instead restrict the universe of possible questions to those that might potentially yield a “yes.”
</p>
